.app-container{
    width: 550px;
    margin: auto;

}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin:5px 0px;
}
.issue-container{
    border:1px solid grey;
}